#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #7c3aed;
  font-family: 'Noto Sans';
  font-weight: 400;
}

.dark body {
  background-color: #0f172a;
}